@charset "UTF-8";

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-image: url('./background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

div {
    background-color: #0C1014;
    padding: 30px;
    max-width: 600px;
    width: 100%;
    margin: auto;
    border-radius: 15px;
}

h1, h2, p, a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: whitesmoke;
}

h2 {
    font-family: segoe;
}

p {
    background-color: #25292E;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    overflow-wrap: break-word;
}

a {
    background-color: #4A5DF9;
    padding: 10px;
    padding-right: 30px;
    padding-left: 30px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    background-color: #4150F7;
    transition: 0.3s;
}

img {
    border-radius: 50%;
    border: 2px solid #25292E;
    max-width: 300px;
    width: 100%;
    height: auto;
    margin: 0 auto;
}

#msg {
    background-color: #25292E;
}

#msg:hover {
    background-color: #363C44;
    transition: 0.3s;
}



